In [8]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Data_prep').getOrCreate()

In [9]:
df = spark.read.csv('Dataset/house_rents_csv.csv')

In [10]:
df.columns

['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11',
 '_c12',
 '_c13']

In [11]:
df.show()

+------------+------------------+-----+----+---------+-------------+----------+--------------------+--------+--------------------+--------+--------+----+--------------+
|         _c0|               _c1|  _c2| _c3|      _c4|          _c5|       _c6|                 _c7|     _c8|                 _c9|    _c10|    _c11|_c12|          _c13|
+------------+------------------+-----+----+---------+-------------+----------+--------------------+--------+--------------------+--------+--------+----+--------------+
|      Suburb|           Address|Rooms|Type|    Price|      SellerG|      Date|        Region name |Distance|         CouncilArea|Bedrooms|Bathroom| Car|Property Count|
|  Abbotsford|     49 Lithgow St|    3|   h|1490000.0|       Jellis|01-04-2017|Northern Metropol...|     3.0|  Yarra City Council|     2.0|     1.0| 1.0|          4019|
|  Abbotsford|     59A Turner St|    3|   h|1220000.0|     Marshall|01-04-2017|Northern Metropol...|     3.0|  Yarra City Council|     2.0|     1.0| 1.0|          4019|
|  Abbotsford|     119B Yarra St|    3|   h|1420000.0|       Nelson|01-04-2017|Northern Metropol...|     3.0|  Yarra City Council|     2.0|     1.0| 0.0|          4019|
|  Aberfeldie|        68 Vida St|    3|   h|1515000.0|        Barry|01-04-2017|Western Metropolitan|     7.5|Moonee Valley Cit...|     3.0|     2.0| 1.0|          1543|
|Airport West|  92 Clydesdale Rd|    2|   h| 670000.0|       Nelson|01-04-2017|Western Metropolitan|    10.4|Moonee Valley Cit...|     3.0|     2.0| 0.0|          3464|
|Airport West|      4/32 Earl St|    2|   t| 530000.0|       Jellis|01-04-2017|Western Metropolitan|    10.4|Moonee Valley Cit...|     3.0|     2.0| 1.0|          3464|
|Airport West|    3/74 Hawker St|    2|   u| 540000.0|        Barry|01-04-2017|Western Metropolitan|    10.4|Moonee Valley Cit...|     3.0|     1.0| 2.0|          3464|
|Airport West| 1/26 Highridge Cr|    3|   h| 715000.0|       Nelson|01-04-2017|Western Metropolitan|    10.4|Moonee Valley Cit...|     3.0|     2.0| 2.0|          3464|
| Albert Park|       18 Mills St|    3|   h|1925000.0|       Cayzer|01-04-2017|Southern Metropol...|     3.0|Port Phillip City...|     3.0|     2.0| 1.0|          3280|
|      Albion|3/15 Drummartin St|    3|   u| 515000.0|      Douglas|01-04-2017|Western Metropolitan|    10.5|Brimbank City Cou...|     2.0|     1.0| 0.0|          2185|
|      Albion|    3A Kororoit St|    4|   h| 717000.0|        Bells|01-04-2017|Western Metropolitan|    10.5|Brimbank City Cou...|     4.0|     2.0| 0.0|          2185|
|  Alphington|      55 Fulham Rd|    2|   h|1675000.0|        Miles|01-04-2017|Northern Metropol...|     5.7|Darebin City Council|     2.0|     2.0| 1.0|          2211|
|  Alphington|    41 Toolangi Rd|    4|   h|2008000.0|       Jellis|01-04-2017|Northern Metropol...|     5.7|Darebin City Council|     6.0|     2.0| 0.0|          2211|
|      Altona|      9 Delmont Av|    2|   h| 860000.0|       Barlow|01-04-2017|Western Metropolitan|    11.0|Hobsons Bay City ...|     2.0|     1.0| 2.0|          5301|
|    Armadale|  2/23 Ashleigh Rd|    2|   u| 836000.0|       Jellis|01-04-2017|Southern Metropol...|     6.3|Stonnington City ...|     1.0|     1.0| 1.0|          4836|
|    Armadale|      6A Auburn Gr|    2|   h|2110000.0|       Jellis|01-04-2017|Southern Metropol...|     6.3|Stonnington City ...|     3.0|     1.0| 2.0|          4836|
|    Armadale|  14/25 Kooyong Rd|    2|   u| 580000.0|hockingstuart|01-04-2017|Southern Metropol...|     6.3|Stonnington City ...|     2.0|     1.0| 1.0|          4836|
|   Ashburton|    1/48 Karnak Rd|    3|   u|1270000.0|    Fletchers|01-04-2017|Southern Metropol...|    10.2|Boroondara City C...|     2.0|     2.0| 1.0|          3052|
|   Ashburton|   61A Victory Bvd|    3|   t|1610000.0|       Jellis|01-04-2017|Southern Metropol...|    10.2|Boroondara City C...|     2.0|     2.0| 1.0|          3052|
+------------+------------------+-----+----+---------+-------------+----------+--------------------+--------+--------------------+--------+--------+----+--------------+
only showing top 20 rows

In [13]:
df = spark.read.csv('Dataset/house_rents_csv.csv', inferSchema=True, header=True)
df.printSchema()

root
 |-- Suburb: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Rooms: integer (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Region name : string (nullable = true)
 |-- Distance: double (nullable = true)
 |-- CouncilArea: string (nullable = true)
 |-- Bedrooms: double (nullable = true)
 |-- Bathroom: double (nullable = true)
 |-- Car: double (nullable = true)
 |-- Property Count: integer (nullable = true)

In [14]:
df.head(1)

[Row(Suburb='Abbotsford', Address='49 Lithgow St', Rooms=3, Type='h', Price=1490000.0, SellerG='Jellis', Date='01-04-2017', Region name ='Northern Metropolitan', Distance=3.0, CouncilArea='Yarra City Council', Bedrooms=2.0, Bathroom=1.0, Car=1.0, Property Count=4019)]